<ion-view title="BeerCentriCity - Nashville" name="login-view">
    <ion-content class="padding">
        <div class="list list-inset">
            <label class="item item-input">
                <input type="email" placeholder="Email address" ng-model="auth.email" autofocus>
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="auth.password">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="User Name" ng-model="auth.displayName;">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Profile Photo (1 Right-click photo. 2) Copy image address" ng-model="auth.photoURL;">
            </label>
        </div>
        <ion-button class="button button-block button-calm" ng-click="registerUser(auth)">Sign Up</ion-button>
        <ion-button class="button button-block button-calm" ng-click="logMeIn(auth)">Login</ion-button>
        <ion-button class="button button-block button-calm" ng-click="logoutUser()">Logout</ion-button>
    </ion-content>
</ion-view>