<ion-view title='<img class="title-image" src="../img/logo.png" />' name="login-view">
    <ion-content class="padding">
        <div class="list list-inset">
            <button class="button button-block button-positive" ng-click="openModal()">Sign Up</button>
            <p class="text-center"> or Enter Email and Password to Login</p>
            <label class="item item-input">
                <input type="email" placeholder="Email address" ng-model="auth.email" autofocus>
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="auth.password">
            </label>
        </div>
        <button class="button button-block button-positive" ng-click="logMeIn(auth)">Login</button>
        <img id="logo" src="../../img/logo.png">
    </ion-content>
</ion-view>