/* Empty. Add your own CSS if you like */
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?p7gx9s');
  src:  url('../fonts/icomoon.eot?p7gx9s#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?p7gx9s') format('truetype'),
    url('../fonts/icomoon.woff?p7gx9s') format('woff'),
    url('../fonts/icomoon.svg?p7gx9s#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 48px;  

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

map {
  display: block;
  width: 100%;
  height: 100%;
}
.scroll {
  height: 100%;
}

#profile-image {
  display: block;
  border-radius: 100px;
  width: 128px;
  height: 128px;
  margin: 0px auto 0;
  padding-bottom: 10px;
}

.icon-beer .path1:before {
  content: "\e900";
  color: #c63c22;
}
.icon-beer .path2:before {
  content: "\e901";
  color: #9e231d;
  margin-left: -1em;
}
.icon-beer .path3:before {
  content: "\e902";
  color: #fff;
  margin-left: -1em;
}
.icon-beer .path4:before {
  content: "\e903";
  color: #d9d9d9;
  margin-left: -1em;
}
.icon-beer .path5:before {
  content: "\e904";
  color: #f0deb4;
  margin-left: -1em;
}
.icon-beer .path6:before {
  content: "\e905";
  color: #d8c49c;
  margin-left: -1em;
}
.icon-beer .path7:before {
  content: "\e906";
  color: #ffa800;
  margin-left: -1em;
}
.icon-beer .path8:before {
  content: "\e907";
  color: #ce8400;
  margin-left: -1em;
}

#notifications-badge {
  background-color: cornflowerblue;
  position: absolute;
  border-radius: 100%;
  opacity: 0.9;
  margin-left: -10px;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
}





