@font-face {
  font-family: 'beer2';
  src:  url('../fonts/beer2.eot?7x2ngk');
  src:  url('../fonts/beer2.eot?7x2ngk#iefix') format('embedded-opentype'),
    url('../fonts/beer2.ttf?7x2ngk') format('truetype'),
    url('../fonts/beer2.woff?7x2ngk') format('woff'),
    url('../fonts/beer2.svg?7x2ngk#beer2') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Josefin Slab:600', serif;
}

h1, .tab-title, .button {
  font-family: 'Josefin Slab:700', serif;
 font-weight: bold;
}

.dashProfile {
  padding-bottom: 0px;
}

.dashP {
  padding-top: 5px;
  padding-bottom: 5px;
  border-style: none;
  border: 0px;
}

.myIcon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'beer2' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 2.5em;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.beerImg {
  object-fit: contain;
}

.searchPhoto {
  width: 275px;
  height: 325px;
}

.stats {
  padding: 5px;
  border: solid 2px #FF8200;
}


.map {
  display: block;
  width: 100%;
  height: 91%;
  top: 50px;
}

.scroll {
  height: 100%;
}

#profile-image {
  display: block;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  width: auto;
  height: auto;
  padding-bottom: 10px;
  padding-top: 75px;
}

.button-icon.button:active, .button-icon.button.active {
  border-color: transparent;
  background: none;
  box-shadow: none;
  opacity: 0.3;
}

#notifications-badge {
  background-color: cornflowerblue;
  position: absolute;
  border-radius: 100%;
  opacity: 1;
  margin-left: -10px;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  padding: .9px;
}

.float-button {
  position:fixed;
  right:5px;
  top:80%;
  opacity:0.8;
}
.beerLogo {
    margin: auto;
    display: block;
}

.eventLogo {
 width: 99%;
}


p, .noBorder {
  border-style: none;
  border: 0px;
}

.dashBeers {
  padding-top: 50px;
}

.icon-icon_growler .path1:before {
  content: "\e921";
  color: rgb(188, 80, 39);
}
.icon-icon_growler .path2:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-keg .path1:before {
  content: "\e923";
  color: rgb(255, 61, 99);
}
.icon-keg .path2:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(255, 3, 53);
}
.icon-keg .path3:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(0, 173, 148);
}
.icon-keg .path4:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(0, 136, 120);
}
.icon-keg .path5:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(255, 196, 115);
}
.icon-keg .path6:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(255, 183, 77);
}
.icon-keg .path7:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(138, 103, 70);
}
.icon-keg .path8:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(102, 75, 51);
}
.icon-keg .path9:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(138, 103, 70);
}
.icon-keg .path10:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(102, 75, 51);
}
.icon-keg .path11:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(138, 103, 70);
}
.icon-keg .path12:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(102, 75, 51);
}
.icon-camera .path1:before {
  content: "\e92f";
  color: rgb(255, 110, 54);
}
.icon-camera .path2:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(255, 25, 9);
}
.icon-camera .path3:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(255, 225, 160);
}
.icon-camera .path4:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(255, 240, 207);
}
.icon-camera .path5:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(3, 36, 43);
}
.icon-camera .path6:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(3, 36, 43);
}
.icon-camera .path7:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(6, 72, 85);
}
.icon-camera .path8:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(12, 143, 170);
}
.icon-camera .path9:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(45, 184, 212);
}
.icon-camera .path10:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(255, 25, 9);
}
.icon-camera .path11:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(255, 83, 71);
}
.icon-camera .path12:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(12, 143, 170);
}
.icon-camera .path13:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(45, 184, 212);
}
.icon-camera .path14:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(255, 240, 207);
}
.icon-camera .path15:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-camera .path16:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(6, 72, 85);
}
.icon-camera .path17:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(9, 108, 128);
}
.icon-camera .path18:before {
  content: "\e940";
  margin-left: -1em;
  color: rgb(3, 36, 43);
}
.icon-camera .path19:before {
  content: "\e941";
  margin-left: -1em;
  color: rgb(6, 72, 85);
}
.icon-camera .path20:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(255, 225, 160);
}
.icon-camera .path21:before {
  content: "\e943";
  margin-left: -1em;
  color: rgb(255, 240, 207);
}
.icon-camera .path22:before {
  content: "\e944";
  margin-left: -1em;
  color: rgb(3, 36, 43);
}
.icon-camera .path23:before {
  content: "\e945";
  margin-left: -1em;
  color: rgb(6, 72, 85);
}
.icon-camera .path24:before {
  content: "\e946";
  margin-left: -1em;
  color: rgb(9, 108, 128);
}
.icon-map .path1:before {
  content: "\e947";
  color: rgb(144, 223, 170);
}
.icon-map .path2:before {
  content: "\e948";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-map .path3:before {
  content: "\e949";
  margin-left: -1em;
  color: rgb(230, 233, 238);
}
.icon-map .path4:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-map .path5:before {
  content: "\e94b";
  margin-left: -1em;
  color: rgb(132, 219, 255);
}
.icon-map .path6:before {
  content: "\e94c";
  margin-left: -1em;
  color: rgb(132, 219, 255);
}
.icon-map .path7:before {
  content: "\e94d";
  margin-left: -1em;
  color: rgb(84, 192, 235);
}
.icon-map .path8:before {
  content: "\e94e";
  margin-left: -1em;
  color: rgb(241, 84, 63);
}
.icon-map .path9:before {
  content: "\e94f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-user .path1:before {
  content: "\e950";
  color: rgb(255, 127, 79);
}
.icon-user .path2:before {
  content: "\e951";
  margin-left: -1em;
  color: rgb(224, 58, 0);
}
.icon-user .path3:before {
  content: "\e952";
  margin-left: -1em;
  color: rgb(252, 208, 136);
}
.icon-user .path4:before {
  content: "\e953";
  margin-left: -1em;
  color: rgb(221, 171, 98);
}
.icon-user .path5:before {
  content: "\e954";
  margin-left: -1em;
  color: rgb(217, 237, 236);
}
.icon-user .path6:before {
  content: "\e955";
  margin-left: -1em;
  color: rgb(186, 206, 204);
}
.icon-user .path7:before {
  content: "\e956";
  margin-left: -1em;
  color: rgb(255, 237, 181);
}
.icon-user .path8:before {
  content: "\e957";
  margin-left: -1em;
  color: rgb(232, 207, 137);
}
.icon-user .path9:before {
  content: "\e958";
  margin-left: -1em;
  color: rgb(183, 206, 204);
}
.icon-user .path10:before {
  content: "\e959";
  margin-left: -1em;
  color: rgb(152, 168, 166);
}
.icon-user .path11:before {
  content: "\e95a";
  margin-left: -1em;
  color: rgb(73, 73, 72);
}
.icon-user .path12:before {
  content: "\e95b";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-user .path13:before {
  content: "\e95c";
  margin-left: -1em;
  color: rgb(53, 25, 6);
}
.icon-user .path14:before {
  content: "\e95d";
  margin-left: -1em;
  color: rgb(73, 36, 11);
}
.icon-user .path15:before {
  content: "\e95e";
  margin-left: -1em;
  color: rgb(104, 54, 21);
}
.icon-user .path16:before {
  content: "\e95f";
  margin-left: -1em;
  color: rgb(73, 36, 11);
}
.icon-user .path17:before {
  content: "\e960";
  margin-left: -1em;
  color: rgb(73, 73, 72);
}
.icon-user .path18:before {
  content: "\e961";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-user .path19:before {
  content: "\e962";
  margin-left: -1em;
  color: rgb(73, 36, 11);
}
.icon-user .path20:before {
  content: "\e963";
  margin-left: -1em;
  color: rgb(53, 25, 6);
}
.icon-user .path21:before {
  content: "\e964";
  margin-left: -1em;
  color: rgb(104, 54, 21);
}
.icon-user .path22:before {
  content: "\e965";
  margin-left: -1em;
  color: rgb(81, 39, 16);
}
.icon-user .path23:before {
  content: "\e966";
  margin-left: -1em;
  color: rgb(73, 36, 11);
}
.icon-user .path24:before {
  content: "\e967";
  margin-left: -1em;
  color: rgb(53, 25, 6);
}
.icon-beer2 .path1:before {
  content: "\e900";
  color: rgb(198, 60, 34);
}
.icon-beer2 .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(158, 35, 29);
}
.icon-beer2 .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-beer2 .path4:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(217, 217, 217);
}
.icon-beer2 .path5:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(240, 222, 180);
}
.icon-beer2 .path6:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(216, 196, 156);
}
.icon-beer2 .path7:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(255, 168, 0);
}
.icon-beer2 .path8:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(206, 132, 0);
}
.icon-pint-of-beer .path1:before {
  content: "\e908";
  color: rgb(45, 68, 82);
}
.icon-pint-of-beer .path2:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(35, 53, 64);
}
.icon-pint-of-beer .path3:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(255, 212, 100);
}
.icon-pint-of-beer .path4:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(255, 212, 100);
}
.icon-pint-of-beer .path5:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(242, 201, 95);
}
.icon-pint-of-beer .path6:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(242, 201, 95);
}
.icon-pint-of-beer .path7:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(242, 201, 95);
}
.icon-pint-of-beer .path8:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(204, 128, 61);
}
.icon-pint-of-beer .path9:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(204, 128, 61);
}
.icon-pint-of-beer .path10:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(204, 128, 61);
}
.icon-pint-of-beer .path11:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(204, 128, 61);
}
.icon-pint-of-beer .path12:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(204, 128, 61);
}
.icon-pint-of-beer .path13:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-pint-of-beer .path14:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(230, 230, 230);
}
.icon-pint-of-beer .path15:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-pint-of-beer .path16:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(230, 230, 230);
}
.icon-pint-of-beer .path17:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(230, 230, 230);
}
.icon-pint-of-beer .path18:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(230, 230, 230);
}

.tab-item.tab-item-active, .tab-item-active, .tab-item.active, .tab-item.activated {
  opacity: 1;
  background: #FF8200;
}
