@font-face {
  font-family: 'beer2';
  src:  url('../fonts/beer2.eot?yg49x7');
  src:  url('../fonts/beer2.eot?yg49x7#iefix') format('embedded-opentype'),
    url('../fonts/beer2.ttf?yg49x7') format('truetype'),
    url('../fonts/beer2.woff?yg49x7') format('woff'),
    url('../fonts/beer2.svg?yg49x7#beer2') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Josefin Slab:600', serif;
}
h1, .tab-title, .button {
  font-family: 'Josefin Slab:700', serif;
 font-weight: bold;
}

.dashProfile {
  padding-bottom: 0px;
}

cancelBTN {
  padding-bottom: 25px;
}

.dashP {
  padding-top: 5px;
  padding-bottom: 5px;
  border-style: none;
  border: 0px;
}

.dashTabs {
  background-color: white;
  position: inherit;
  padding-top: 15px;
  padding-bottom: 0px;
  border-style: none;
  border: 0px;
}

.myIcon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'beer2' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 2.5em;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.beerImg {
  object-fit: contain;
}

.searchPhoto {
  width: 275px;
  height: 325px;
}
.map {
  display: block;
  width: 100%;
  height: 91%;
  top: 50px;
}
.mapDash {
  display: block;
  width: 100%;
  height: 100%;
}

.scroll {
  height: 100%;
}

.mapIcon {
font-size: 2.5em;
padding-left: 5px;
padding-top: 10px;
}

#profile-image {
  display: block;
  /* width: 200px;
  height: 200px;
  margin: 0px auto 0; */
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  padding-bottom: 10px;
}

#notifications-badge {
  background-color: cornflowerblue;
  position: absolute;
  border-radius: 100%;
  opacity: 1;
  margin-left: -10px;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  padding: .9px;
}

.beerLogo {
    margin: auto;
    display: block;
}

.eventLogo {
 width: 99%;
}


p, .noBorder {
  border-style: none;
  border: 0px;
}

.icon-beer2 .path1:before {
  content: "\e900";
  color: rgb(198, 60, 34);
}
.icon-beer2 .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(158, 35, 29);
}
.icon-beer2 .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-beer2 .path4:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(217, 217, 217);
}
.icon-beer2 .path5:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(240, 222, 180);
}
.icon-beer2 .path6:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(216, 196, 156);
}
.icon-beer2 .path7:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(255, 168, 0);
}
.icon-beer2 .path8:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(206, 132, 0);
}








