<ion-view title="Beer Search">
    <ion-content class="padding">
        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input ng-model="query" ng-keypress="finder($event, query)" type="text" placeholder="search">
            </label>
        </div>

        <div ng-repeat="beer in beers.beers.items" class="list card padding">
            <div class="item item-body">
                <img class="beerLogo" ng-src="{{ beer.beer.beer_label | trusted}}">
                <h4 class="text-center">{{ beer.beer.beer_name }}</h4>
                <h6 class="text-center">{{ beer.brewery.brewery_name}}</h6>
                <h6 class="text-center">{{ beer.beer.beer_style}}</h6>
                <p class="text-center">{{ beer.beer.beer_description}}</p>
                <img ng-show="srcImage !== undefined" ng-src="{{srcImage}}" style="text-align: center">
                <button class="button button-block button-assertive" ng-click="takePhoto()">Take Photo</button>
                <button id="{{ beer.beer.bid }}" class="button button-block button-assertive" ng-click="checkIn($event)">Log Beer</button>

            </div>
        </div>
    </ion-content>
</ion-view>