<ion-view title={{name}}>
  <ion-content>
    <ion-card>
      <ion-item>
        <!-- profile photo -->
        <img id="profile-image" src="{{photo}}"ui-sref-opts="{reload: true}">
        <!-- Using IcoMoon App to create Icons -->
        <span class="myIcon icon-beer2"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span></span>
        <!-- <ion-badge badge-font-size="2.5em" id="notifications-badge" color="light">{{ count }}</ion-badge> -->
        <ion-badge badge-font-size="2.5em" id="notifications-badge" ui-sref-opts="{reload: true, inherit: false}">{{ count }}</ion-badge>
        <!-- <i class="icon icon clear ion-my-beer"> 4 Count</i> -->
        <ion-card-content class="text-center">
          <p>Copper mug vinyl disrupt, craft beer cleanse</p>
        </ion-card-content>
      </ion-item>
    </ion-card>
    <div ng-repeat="beer in beers | orderBy : '-dateLogged'" class="list card padding" ui-sref-opts="{reload: true, inherit: false}">
      <div class="item item-body">
          <img class="beerLogo searchPhoto" ng-src="{{ beer.url  || '../img/beer.jpg' }}">
          <h4 class="text-center">{{ beer.data.beer.beer_name }}</h4>
          <h4 class="text-center">{{ beer.data.beer.beer_style }}</h4>
          <h4 class="text-center">Rating: {{ beer.rating }}</h4>
      </div>
    </div>
   </div>
  </ion-content>
</ion-view>