<ion-view title="Nashville Events">
    <ion-content class="padding">
        <h1>events</h1>
        <div ng-repeat="event in events" class="list card padding">
            <div class="item item-body">
                <!-- <img class="beerLogo" ng-src="{{ brewery.brewery.brewery_label | trusted}}"> -->
                <!-- <h4 class="text-center">{{ beer.beer.beer_name }}</h4> -->
                <!-- <h4 class="text-center">{{ brewery.brewery.brewery_name}}</h4>
                    <button id="{{ brewery.brewery.brewery_id }}" class="button button-block button-positive" ng-click="showInfo($event)">Show Brewery Info</button> -->
            </div>
        </div>
    </ion-content>
</ion-view>