<ion-view title="Beer Search">
    <ion-content delegate-handle="mainScroll">
        <div class="list list-inset noBorder">
            <label class="item item-input item-floating-label noBorder">
                <input class="text-center" ng-model="query" ng-keypress="finder($event, query)" type="text" placeholder="search">
            </label>
        </div>
        <h4 class="text-center">{{ count }}</h4>
        <div ng-repeat="beer in beers.beers.items" class="list card noBorder">
            <div class="item item-body">
                <img class="beerLogo" ng-src="{{ beer.beer.beer_label | trusted}}">
                <h4 class="text-center">{{ beer.beer.beer_name }}</h4>
                <h4 class="text-center">{{ beer.brewery.brewery_name}}</h4>
                <h4 class="text-center">{{ beer.brewery.location.brewery_city}}, {{ beer.brewery.location.brewery_state}}</h4>
                <h4 class="text-center">{{ beer.beer.beer_style}}</h4>
                <h4 class="text-center">abv:{{ beer.beer.beer_abv}}%</h4>
                <p class="text-center">{{ beer.beer.beer_description}}</p>
                <img ng-show="srcImage !== undefined" class="searchPhoto" ng-src="{{srcImage}}" style="text-align: center">
                <div class="list">
                    <button id="{{ beer.beer.bid }}" class="button button-block button-positive" ng-click="addWishlist($event); showToast($scope.msg)">Add To Wishlist</button>
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Rate Beer
                        </div>
                        <select ng-model="myRating" ng-change="showRating(myRating)">
                            <option selected>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </label>
                </div>
                <button class="button button-block" ng-click="takePhoto()">Take Photo</button>
                <button id="{{ beer.beer.bid }}" class="button button-block button-positive" ng-click="checkIn($event); showToast($scope.msg)">Log Beer</button>

            </div>
        </div>
    </ion-content>
    <div class="float-button">
        <a href="" ng-click="scrollMainToTop()" class="button button-outline button-positive">
            <i class="ion-arrow-up-a"></i>
        </a>
    </div>
</ion-view>