<ion-view title="Brewery Search">
    <ion-content class="padding">
        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon" style="color: #FF8200"></i>
                <input ng-model="query" ng-keypress="finder($event, query)" type="text" placeholder="search">
            </label>
        </div>
        <div ng-repeat="brewery in breweries.brewery.items" class="list card padding">
            <div class="item item-body">
                <img class="beerLogo" ng-src="{{ brewery.brewery.brewery_label | trusted}}">
                <!-- <h4 class="text-center">{{ beer.beer.beer_name }}</h4> -->
                <h4 class="text-center">{{ brewery.brewery.brewery_name}}</h4>
                <button id="{{ brewery.brewery.brewery_id }}" class="button button-block button-positive" ng-click="showInfo($event)">Show Brewery Info</button>
            </div>
        </div>
    </ion-content>
</ion-view>