<ion-view title="NASHVILLE">
    <div class="tabs-striped tabs-top tabs-background-energized tabs-color-energized">
      <div class="tabs">
        <a class="tab-item" ui-sref="tab.nash.events">
          <i class="icon ion-calendar"></i>
          events
        </a>
        <a class="tab-item" ui-sref="tab.nash.pub">
          <i class="icon ion-person-stalker"></i>
          the pub
        </a>
        <a class="tab-item" ui-sref="tab.nash.beer">
          <i class="icon ion-beer"></i>
          beer spots
        </a>
        <a class="tab-item" ui-sref="tab.nash.map">
          <i class="icon ion-location"></i>
          map
        </a>
      </div>
    </div>
    <ui-view name="nash-page"></ui-view>
</ion-view>