<ion-view title="The Nashville Pub">
    <ion-content class="has-tabs-top">
        <div ng-repeat="pub in pubs.checkins.items" class="list card">
            <div class="item item-body">
                <img class="beerLogo" ng-src="{{ pub.beer.beer_label | trusted}}">
                <h4 class="text-center">{{ pub.beer.beer_name }}</h4>
                <h4 class="text-center">{{ pub.beer.beer_style }}</h4>
                <h4 class="text-center">{{ pub.brewery.brewery_name }}</h4>
                <h4 class="text-center">{{ pub.venue.venue_name }}</h4>
                <h4 class="text-center">{{ pub.venue.location.venue_address }}</h4>
                <h4 class="text-center">{{ pub.venue.location.venue_city }}, {{ pub.venue.location.venue_state }}</h4>
                <button id="{{ pub.beer.bid }}" class="button button-block button-positive" ng-click="addWishlist($event); showToast($scope.msg)">Add To Wishlist</button>
            </div>
        </div>
    </ion-content>
</ion-view>